body {
   padding: 10px 0;
   font-size: 16px;
   font-family: "Open Sans";
   font-style: normal;
   font-weight: 400;
}
/** HEADER **/
#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
}

#logo-img {
  background: url('../images/logo-escrita.jpg') no-repeat;
  width: 80px;
  height: 100px;
  margin: 10px 15px 10px 0;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Application name */
  font-family: "Parisienne", serif;
  color: #6495ED;
  font-size: 3em;
  font-stretch: expanded;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-brand p { /* Construindo a escrita */
  color: #000;
  font-size: .7em;
  font-stretch: condensed;
  vertical-align: middle;
  line-height: .75;
  margin-top: 2px;
  margin-bottom: 5px;

}
.navbar-brand p span { /* Construindo a escrita */
  vertical-align: middle;
}

#nav-list {
  margin-top: 10px;
  vertical-align: middle;
}

#nav-list a {
  color:  #8B0000; /* DarkRed */
  text-align: center;
  font-size: 1.3em;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

h1 {
   font-size: 45px;
   font-family: "Parisienne";
   line-height: 33px;
   margin-bottom: 5px;
}
h2 {
   font-size: 36px;
   font-family: "Parisienne";
   line-height: 43px;
   margin-bottom: 5px;
}
h3 {
   font-size: 30px;
   font-family: "Parisienne";
   line-height: 30px;
   margin-bottom: 5px;
}
h4  {
   font-size: 25px;
   font-family: "Open Sans", Serif;
   font-weight: normal;
   line-height: 30px;
   margin-top: 15px;
   margin-bottom: 15px;
}
#simbolo {
   font-size: 20px;
   font-family: "Open Sans", Serif;
   line-height: 30px;
   margin-bottom: 15px;
}
#certo {
  font-size: 2.5em;
  font-weight: bold;
  color: green;
}
#errado {
  font-size: 2em;
  font-weight: bold;
  color: DarkRed;
}
.caixab {
   padding: 3px 3px 3px 5px;
   outline-color: #6cc0ac;
  /*box-shadow: 3px 3px 5px 6px #ccc;*/
   box-shadow: 0 8px 6px -6px black;
}
#som {
   font-size: 35px;
   color: #6495ED;
   line-height: 40px;
   margin-bottom: 15px;
   padding: 5px;
}
#lSom {
   font-size: 35px;
   color: #6495ED;
   line-height: 40px;
   margin-bottom: 15px;
   padding: 5px;
}
#vogalc {
	font-size: 36px;
  font-family: "Parisienne";
	color: red;
}
#vogali {
	font-size: 25px;
  font-family: "Open Sans", Serif;
	color: red;
}
#consc {
	font-size: 36px;
  font-family: "Parisienne";
	color: blue;
}
#consi {
	font-size: 25px;
  font-family: "Open Sans", Serif;
	color: blue;
}
#tipografia {
  font-size: 25px;
  font-family: 'Special Elite', cursive;
  color: #6cc0ac;
} 



.letra {
  background-color: #d7666b;
  line-height: 300px;
  border-top: 8px solid #8B0000; /* DarkRed */
  border-right: 8px solid #8B0000; /* DarkRed */
  border-bottom: 8px solid #8B0000; /* DarkRed */
  border-left: 8px solid #8B0000;
}
.alfabeto {
  background-color: #d7666b;
  height: 100px;    
  padding: 20px;
  border: 1px solid #8B0000; /* DarkRed */
  box-sizing: border-box;
}
.group:after {
  content: "";
  display: table;
  clear: both;
}
.questionGlyph {
    color: #6495ED;
    line-height: 50px;
    text-align: center;
    font-size: 40px;
    font-family: "Parisienne";
}

.silaba {
  background-color: #d7666b;
  line-height: 300px;
  border-top: 8px solid #8B0000; /* DarkRed */
  border-right: 8px solid #8B0000; /* DarkRed */
  border-bottom: 8px solid #8B0000; /* DarkRed */
  border-left: 8px solid #8B0000;
}
.hot {
	background-color: #d7666b;
  border-top: 8px solid #8B0000; /* DarkRed */
  border-right: 8px solid #8B0000; /* DarkRed */
  border-bottom: 8px solid #8B0000; /* DarkRed */
  border-left: 8px solid #8B0000;}

.cool {
  background-color: #6cc0ac;
  border-top: 8px solid #6cc0ac;
  border-right: 8px solid #6cc0ac;
  border-bottom: 8px solid #6cc0ac;
  border-left: 8px solid #6cc0ac;}

.complete {
	border-top: 8px solid #666;
  border-right: 8px solid #666;
  border-bottom: 8px solid #666;
  border-left: 8px solid #666;}

#imagemBox {
  height: 330px;
  padding: 3px 5px 30px 3px;
  margin-top: 3px;
  border: 1px solid darkgrey;
  box-sizing: border-box;
  text-align: center;
}

#imagemBoxG {
  height: 350px;
  padding: 3px 5px 30px 3px;
  border-radius: 8px;
  margin-top: 3px;
  margin-left: 3px;
  border: 1px solid darkgrey;
  box-sizing: border-box;
  text-align: center;
}
#imagemBoxM {
  height: 290px;
  padding: 3px 5px 30px 3px;
  margin-top: 3px;
  border: 1px solid Snow;
  box-sizing: border-box;
  text-align: center;
}

#espacoCenter {
  margin-top: 80px;
  vertical-align: middle;
}

#espaco {
  margin-top: 27px;
  vertical-align: middle;
}
#espacoLeft {
  margin-top: 200px;
  vertical-align: middle;
}
#rodape {
  font-size: 16px;
  font-family: "Open Sans";
  color: darkgrey;
  vertical-align: middle;
  margin-top: 20px;
  margin-bottom: 5px;
}
#idUm {
  background: blue;
}
#idDois {
  background: yellow;
}
#idTres {
  background: lightblue;
}
#idQuatro {
  background: lightgreen;
}
